body{
    padding: 20px;
    margin: 145px;
    margin-left: 50px;
    background-image: url(../Images/fond2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#first{
    font-size: 40px;
    font-family: Chalkduster;
    text-align: center;
    color: black;
}
.container .col-md-7 {
    border: solid 2px black;
    height: 450px;
    background-color: #ffffff;
    opacity: 0.5;
}
.lol{
    border: solid 1px black;
    width: 685px;
    margin-left: -17px;
}
.container .col-md-5 {
    border: solid 3px black;
    height: 450px;
    background-color: #ffffff;
    opacity: 0.5;
}
